<div id="photoDetail">

<b>{{title}} | www.iLoveSpongeBob.com</b>
<br>
<br>
<img src={{link}}>
<br>
AUTHOR: {{author}},
ID: {{author_id}}
<br>
{{description}}
<br>
<form action="/gallery/{{id}}?_method=DELETE" method="post">
<button type="submit">Delete {{id}}</button>
</form>
{{!-- 
<form action="/gallery/{{id}}?_method=PUT" method="post">
<button type="submit">Edit {{id}}</button>
</form> --}}

</div>