<h1>{{username}}</h1>
<h2>User ID: {{id}}</h2>
<h3>First Name: {{first_name}}</h3>
<h3>Last Name: {{last_name}}</h3>

<ul>
  {{#each photos}}
  <img src={{link}}>
    <br>
    {{description}}
  {{/each}}
<br>
<br>
<br>
<a href="/users/{{id}}/edit">Edit User</a>
</ul>